.vs/Dochain/v14/.suo
[Bb]in
*.log
obj/
/.vs
*.svg
/Dochain.Web/wwwroot/lib
*.ico
/packages
/testchain/devChain/history
/testchain/devChain/geth/chaindata
/testchain/devChain/geth/nodes
/testchain/devChain/geth/nodekey
*.jpg
