@model Dochain.Web.Models.DocViewModel
@{
    ViewData["Title"] = "Add data";
}

<div class="row">
    <div class="col-md-12">
        <h2>Save data</h2>
        <form asp-controller="Home" asp-action="AddFile" method="post" enctype="multipart/form-data">

            @if (String.IsNullOrEmpty(Model.Error))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="Name" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input type="text" asp-for="Name" class="col-md-12" />
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input type="file" name="file"/>
                            <span asp-validation-for="Content" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Save file</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h3>@Model?.Error</h3>
                <a href="~/Home/Link/@Model.Name">Download link</a>
                <a href="~/Home/Info/@Model.Name">Information link</a>
            }

        </form>
    </div>
</div>
