@model Dochain.Web.Models.DocViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Save data</h2>
        <form asp-controller="Home" asp-action="Add" method="post">
            <h2>@Model?.Error</h2>
            Name: <input type="text" asp-for="Name"/>
            Content: <input type="text" asp-for="Content"/>
            <input type="submit" value="Add"/>
        </form>
    </div>
    <div class="col-md-3">
        <h2>Check data</h2>
        <form asp-controller="Home" asp-action="Check" method="post">
            <h2>@Model?.Error</h2>
            Name: <input type="text" asp-for="Name" />
            Content: <input type="text" asp-for="Content" />
            <input type="submit" value="Check" />
        </form>
    </div>
</div>
