@model Dochain.Web.Models.DocViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2><a asp-action="Add">Save text</a></h2>
    </div>
    <div class="col-md-6">
        <h2><a asp-action="Check">Check text</a></h2>
    </div>
    <div class="col-md-6">
        <h2><a asp-action="AddFile">Save file</a></h2>
    </div>
    <div class="col-md-6">
        <h2><a asp-action="CheckFile">Check file</a></h2>
    </div>
</div>
