@{
    ViewData["Title"] = "Document info";
}
<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">Timestamp: </div>
                <div class="col-md-10">@ViewData["Timestamp"]</div>
            </div>
            <div class="form-group">
                <div class="col-md-2">Sender: </div>
                <div class="col-md-10">@ViewData["Sender"]</div>
            </div>
        </div>
    </div>
</div>